{% load static %} 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%block title%}NEWS{%endblock%}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="loader"><p class = "ltext">NIS Press</p></div>
<div class = "container topBotomBordersOut">
    <nav class="main_panel">
        <ul>
            <li><a href="{% url 'main' %}">logo</a></li>
            <li><a href="{% url 'news' %}">news</a></li>
            <li><a href="{% url 'admission' %}">admission</a></li>
            <li><a href="{% url 'media_club' %}">media club</a></li>
            <li class="dropdown">
                <a href="#" onclick="toggleDropdown()">More</a>
                <div id="dropdownContent" class="dropdown-content">
                    <a href="#Competitions">Competitions</a>
                    <a href="#Awards">Awards</a>
                    <a href="#Categories">Categories</a>
                    <a href="#Admin">Admin</a>
                </div>
            </li>
            <li>
                <input type="text" placeholder="Tag search">
                <button onclick="searchByTag()">Search</button>
            </li>
        </ul>
    </nav>
</div>
    {%block content%}NEWS{%endblock%}
    <script>
        function searchByTag() {
            const tag = document.querySelector('input[placeholder="Tag search"]').value;
            if (tag) {
                window.location.href = '/tags/' + tag + '/';
            }
        }
        function toggleDropdown() {
            const dropdownContent = document.getElementById("dropdownContent");
            dropdownContent.classList.toggle("show");
        }

        document.addEventListener("click", function(event) {
            const dropdownContent = document.getElementById("dropdownContent");
            if (!event.target.closest(".dropdown") && dropdownContent.classList.contains("show")) {
                dropdownContent.classList.remove("show");
            }
        });

        window.addEventListener('load', function () {
            const loader = document.querySelector('.loader');
            loader.classList.add('hidden');
        });
    </script>
    <script src="{% static 'javascript/animation.js' %}"></script>
</body>
</html>