{% load static %} 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NEWS</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <nav class="main_panel">
        <ul>
            <li><a href="{% url 'news' %}">logo</a></li>
            <li><a href="{% url 'news' %}">news</a></li>
            <li><a href="{% url 'admission' %}">admission</a></li>
            <li><a href="{% url 'media_club' %}">media club</a></li>
            <li class="dropdown">
                <a href="#" onclick="toggleDropdown()">More</a>
                <div id="dropdownContent" class="dropdown-content">
                    <a href="#">Competitions</a>
                    <a href="#">Awards</a>
                    <a href="#">Categories</a>
                    <a href="#">Admin</a>
                </div>
            </li>
        </ul>
    </nav>




    <script>
        function toggleDropdown() {
            const dropdownContent = document.getElementById("dropdownContent");
            dropdownContent.classList.toggle("show");
        }

        document.addEventListener("click", function(event) {
            const dropdownContent = document.getElementById("dropdownContent");
            if (!event.target.closest(".dropdown") && dropdownContent.classList.contains("show")) {
                dropdownContent.classList.remove("show");
            }
        });
    </script>
</body>
</html>